* {
  /*outline: red 1px solid;*/
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.boardTop div, .boardCenter div, .boardBottom div, .talliesBoard div{
  height: 5rem;
  padding-left: 2.5rem;
  padding-top: .5rem;
}
.boardTopMiddle, .boardCenterMiddle, .boardBottomMiddle {
  border-left: 5px solid black;
  border-right: 5px solid black;
}
.boardTopLeft, .boardTopMiddle, .boardTopRight,
.boardCenterLeft, .boardCenterMiddle, .boardCenterRight {
  border-bottom: 5px solid black;
}
