<div class="ticTacToeBoard" id="{{boardName}}">
  <div class="row">
    <div class="input-group col-sm-3 col-md-3 col-lg-3">
      <input type="text" class="form-control x-wins" readonly="true">
      <input type="text" class="form-control o-wins" readonly="true">
      <input type="text" class="form-control player-turn" readonly="true">
      <div class="input-group-btn">
        <button class="clearWins btn btn-default btn-primary">Clear Wins</button>
        <button class="newBoard btn btn-default btn-primary">New Board</button>
        <button class="newGame btn btn-default btn-primary">New Game</button>
      </div>
    </div>
  </div>
  <div class="row boardTop">
    <div class="col-sm-1 col-md-1 col-lg-1 boardTopLeft"></div>
    <div class="col-sm-1 col-md-1 col-lg-1 boardTopMiddle"></div>
    <div class="col-sm-1 col-md-1 col-lg-1 boardTopRight"></div>
  </div>
  <div class="row boardCenter">
    <div class="col-sm-1 col-md-1 col-lg-1 boardCenterLeft"></div>
    <div class="col-sm-1 col-md-1 col-lg-1 boardCenterMiddle"></div>
    <div class="col-sm-1 col-md-1 col-lg-1 boardCenterRight"></div>
  </div>
  <div class="row boardBottom">
    <div class="col-sm-1 col-md-1 col-lg-1 boardBottomLeft"></div>
    <div class="col-sm-1 col-md-1 col-lg-1 boardBottomMiddle"></div>
    <div class="col-sm-1 col-md-1 col-lg-1 boardBottomRight"></div>
  </div>
</div>
